<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotImage</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.css' />
    <link rel='stylesheet' href='/stylesheets/foundation-icons.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script type="text/javascript" src="/javascripts/modernizr.min.js"></script>
  </head>
  <body>
    <h1 class="text-center">An Image Placeholder</h1>

    <div class="carsoul-container">
      <div class="row">
        <h3 class="subheader">Live examples</h3>
        <ul data-orbit style="height: 350px;">
          <li class="active">
            <img src="/g/1000x350/ddd/c00" alt="slide 1" />
            <div class="orbit-caption">
              <h4>&lt;img src=/g/1000x350/ddd/c00 /&gt;</h4>
            </div>
          </li>
          <li>
            <img src="/g/1000x350/default" alt="slide 2" />
            <div class="orbit-caption">
              <h4>&lt;img src=/g/1000x350/default /&gt;</h4>
            </div>
          </li>
          <li>
            <img src="/g/1000x350/car" alt="slide 3" />
            <div class="orbit-caption">
              <h4>&lt;img src=/g/1000x350/car /&gt;</h4>
            </div>
          </li>
          <li>
            <img src="/g/1000x350/beauty" alt="slide 3" />
            <div class="orbit-caption">
              <h4>&lt;img src=/g/1000x350/beauty /&gt;</h4>
            </div>
          </li>
          <li>
            <img src="/g/1000x350/food" alt="slide 3" />
            <div class="orbit-caption">
              <h4>&lt;img src=/g/1000x350/food /&gt;</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h2 class="subheader">URL patterns</h2>
      <div class="panel radius">
        <h4 class="subheader">
          /g/WIDTH x HEIGHT/BGCOLOR/FORECOLOR
          <a href="/g/200x100/000/fff" class="button tiny round" rel="demo">DEMO</a>
        </h4>

        <h4 class="subheader">
          /g/SIDE_LENGTH/BGCOLOR/FORECOLOR
          <a href="/g/300/000/fff" class="button tiny round" rel="demo">DEMO</a>
        </h4>

        <h4 class="subheader">
          /g/WIDTH x HEIGHT/THEME
          <a href="/g/500x300/beauty" class="button tiny round" rel="demo">DEMO</a>
        </h4>

        <h4 class="subheader">
          /g/SIDE_LENGTH/THEME
          <a href="/g/500/car" class="button tiny round" rel="demo">DEMO</a>
        </h4>

        <p>Avalible themes are: default, car, beauty, food</p>
      </div>
    </div>

    <div id="demo-modal" class="reveal-modal small" data-reveal></div>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/foundation.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.min.js"></script>
    <script type="text/javascript">
    $(function(){
      $("a[rel=demo]").on('click', function(e){
        e.preventDefault();
        $('#demo-modal').html('<img src="'+$(this).attr('href')+'" style="display:block;margin: auto;" />').foundation('reveal', 'open');
      });
    });
    </script>
  </body>
</html>